<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
	<header th:replace="common/header::html"></header>
</head>
<body>
<div class="layui-fluid">
	<div class="layui-row">
		<form class="layui-form">
			<input type="hidden" name="id" id="L_id" th:value="${editObj.id}">
			<div class="layui-form-item">
				<label class="layui-form-label">
					<span class="x-red">*&nbsp;</span>用户名
				</label>
				<div class="layui-input-inline">
					<input th:value="${editObj.username}" th:if="${editObj.id == null}" type="text" name="username" required="" lay-verify="required" autocomplete="off" class="layui-input">
					<input th:value="${editObj.username}" th:if="${editObj.id != null}" readonly="readonly" type="text" name="username" required="" lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">
					<span class="x-red">*&nbsp;</span>性别
				</label>
				<div class="layui-input-block" th:if="${editObj.gender == 1 || editObj.gender == null}">
					<input type="radio" name="gender" lay-skin="primary" value="1" title="男" checked="">
					<input type="radio" name="gender" lay-skin="primary" value="0" title="女">
				</div>
				<div class="layui-input-block" th:if="${editObj.gender} == 0">
					<input type="radio" name="gender" lay-skin="primary" value="1" title="男">
					<input type="radio" name="gender" lay-skin="primary" value="0" title="女" checked="">
				</div>
			</div>
			<div class="layui-form-item">
				<label for="L_email" class="layui-form-label">
					<span class="x-red">*&nbsp;</span>邮箱
				</label>
				<div class="layui-input-inline">
					<input type="text" th:value="${editObj.email}" id="L_email" name="email" required="" lay-verify="email" autocomplete="off" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">
					<span class="x-red">*&nbsp;</span>角色
				</label>
				<div class="layui-input-block">
					<div class="layui-input-inline">
						<select id="L_role" name="roleId" lay-verify="required" lay-search="">
							<option th:each="role: ${roleList}" th:value="${role.id}" th:text="${role.name}" th:if="${role.id} == ${editObj.roleId}" selected="selected" />
							<option th:each="role: ${roleList}" th:value="${role.id}" th:text="${role.name}" th:if="${role.id} != ${editObj.roleId}" />
						</select>
					</div>
				</div>
			</div>

			<div th:if="${editObj.id} == null">
				<div class="layui-form-item">
					<label for="L_pass" class="layui-form-label">
						<span class="x-red">*&nbsp;</span>密码
					</label>
					<div class="layui-input-inline">
						<input type="password" id="L_pass" name="password" required="" lay-verify="password" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">
						6到16个字符
					</div>
				</div>
				<div class="layui-form-item">
					<label for="L_repass" class="layui-form-label">
						<span class="x-red">*&nbsp;</span>确认密码
					</label>
					<div class="layui-input-inline">
						<input type="password" id="L_repass" name="repass" required="" lay-verify="repass" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>

			<div class="layui-form-item">
				<label for="L_repass" class="layui-form-label"></label>
				<button class="layui-btn" lay-filter="save" lay-submit="">保存</button>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
layui.use(['form', 'layer'], function () {
	var form = layui.form, layer = layui.layer;

	//自定义验证规则
	form.verify({
		password: [/(.+){6,12}$/, '密码必须6到12位'],
		repass: function (value) {
			if ($('#L_pass').val() != $('#L_repass').val()) {
				return '两次密码不一致';
			}
		}
	});

	//监听提交
	form.on('submit(save)', function (data) {
		var sysUserId = $('#L_id').val();
		$.ajax({
			contentType: "application/json;charset=UTF-8",
			url: "/sys/user/save",
			type: "post",
			dataType: "json",
			data: JSON.stringify(data.field),
			success: function (res) {
				if (res.flag){
					layer.alert("保存成功", {icon: 6}, function () {
						// 关闭当前frame
						xadmin.close();
						// 可以父窗口进行刷新
						if (sysUserId == "" || sysUserId == null || sysUserId == undefined){
							xadmin.father_reload();
						} else {
							window.parent.tableReloadCurr("dataTable", window.parent.getParamObj());
						}
					});
				} else {
					layer.msg(res.msg, {icon: 5});
				}
			},
			error: function () {
				layer.msg('Network Error! Please try again later.', {icon: 0});
			}
		});
		return false;
	});

});
</script>
</body>
</html>
