<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
	<header th:replace="common/header::html"></header>
	<script th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body ">
					<form id="searchForm" class="layui-form layui-col-space5">
						<div class="layui-inline layui-show-xs-block">
							<input type="text" id="username" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-inline layui-show-xs-block">
							<button class="layui-btn" lay-submit="" lay-filter="search" title="搜索">
								<i class="layui-icon">&#xe615;</i>
							</button>
						</div>
					</form>
					<table id="dataTable" class="layui-table layui-form" lay-filter="dataTable"></table>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

<script type="text/html" id="toolbar">
	<div class="layui-btn-container">
		<button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
		<button class="layui-btn layui-btn-sm" lay-event="refresh" title="刷新">
			<i class="layui-icon layui-icon-refresh"></i>
		</button>
	</div>
</script>

<script type="text/html" id="opRow">
	<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>

<script type="text/javascript">
function getParamObj(){
	return $('#searchForm').serializeObject();
}

// 计算数据表格高度
var height = $(window).height() - $('#searchForm').height() - 75;

layui.use(['table', 'form'], function () {
	var dataTable = layui.table;
	var searchForm = layui.form;

	dataTable.render({
		elem: '#dataTable',
		height: height,
		url: '/sys/user/list.json',
		page: {
			// curr: 1, // 当前页码，默认值是1
			limit: 2,
			limits: [2, 4, 10, 20, 50]
		},
		toolbar: '#toolbar',
		defaultToolbar: ['filter', 'exports'],
		response: {
			statusCode: 1000
		},
		cols: [
			[
				{field: 'id', title: 'Id', width: 60, sort: true, fixed: 'left'},
				{field: 'username', title: '用户名', width: 120, align: 'center'},
				{field: 'roleName', title: '角色', align: 'center', width: 120},
				{field: 'gender', title: '性别', width: 90, align: 'center', sort: true,
					templet: function(row){
						return row.gender == 1 ? "男" : "女";
					}
				},
				{field: 'state', title: '状态', align: 'center', width: 90,
					templet: function(row){
						var buttonStr = row.state == 1 ? '<a style="color: #009688; font-weight: bold; cursor: pointer" onclick="changeState(' + row.id + ', 0)">正常</a>' :
							'<a style="color: #4E5465; font-weight: bold; cursor: pointer" onclick="changeState(' + row.id + ', 1)">冻结</a>';
						return buttonStr;
					}
				},
				{field: 'email', title: '邮箱', align: 'center'},
				{field: 'createTimeText', title: '添加时间', align: 'center'},
				// {field: 'updateTimeText', title: '更新时间', align: 'center'},
				{field: 'op', title:'操作', toolbar: '#opRow', fixed: 'right', width:150, align: 'center'}
			]
		]
	});

	searchForm.on("submit(search)", function (data) {
		// data是form表单数据
		tableReloadFirst("dataTable", getParamObj());
		return false;
	});

	// 监听头工具栏事件
	dataTable.on('toolbar(dataTable)', function(obj){
		switch(obj.event){
			case 'add':
				xadmin.open('用户添加','/sys/user/edit', 600, 450);
				break;
			case 'refresh':
				location.reload();
				break;
		}
	});

	// 监听行工具事件
	dataTable.on('tool(dataTable)', function(row){
		var data = row.data;
		if (row.event === 'del'){
			changeState(data.id, 2);
		} else if (row.event === 'edit'){
			var content = "/sys/user/edit?id=" + data.id + "&username=" + data.username + "&gender=" + data.gender +
				"&email=" + data.email + "&roleId=" + data.roleId;
			xadmin.open("用户编辑", content, 600, 350);
		}
	});

});

// 更改状态（删除不进行物理删除而是逻辑删除）
function changeState(id, state){
	var tip = state == 0 ? "冻结" : ( state == 2 ? "删除" : "开放" );
	layer.confirm("确定" + tip + "该用户吗", function (index) {
		layer.close(index);
		if (id == null || id == undefined || id == ""){
			layer.msg("主键为空，无法" + tip + "！", {icon:5, time:2000});
		} else {
			$.ajax({
				type: 'post',
				url	: '/sys/user/changeState',
				data: { id: id, state: state },
				dataType: 'json',
				success: function (res) {
					if (res.flag){
						layer.msg(res['msg'], {icon:6, time:2000});
						state == 2 ? tableReloadFirst("dataTable", getParamObj()) : tableReloadCurr("dataTable", getParamObj());
					} else {
						layer.msg(res['msg'], {icon:5, time:2000});
					}
				},
				error: function () {
					layer.msg("Network Error! Please try again later!", {icon: 5, time: 2000});
				}
			});
		}
	});
}

</script>
</html>