<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
	<header th:replace="common/header::html"></header>
</head>
<body>
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body ">
					<table id="dataTable" class="layui-table layui-form"> </table>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript">
	var dataTable = null;

	layui.use(['table'], function () {
		dataTable = layui.table;

		dataTable.render({
			elem: '#dataTable',
			height: 312,
			url: '/sys/user/list.json',
			page: true,
			limit: 2,
			limits: [2, 4, 6, 8, 10, 20, 50],
			response: {
				statusCode: 1000
			},
			cols: [
				[
					{field: 'id', title: 'Id', width:80, sort: true, fixed: 'left'},
					{field: 'username', title: '用户名', width: 100},
					{field: 'roleId', title: '角色Id', width: 100, align: 'center'},
					{field: 'gender', title: '性别', width: 100, align: 'center', sort: true},
					{field: 'age', title: '年龄', width: 100, align: 'center', sort: true},
					{field: 'email', title: '邮箱', width: 200}
				]
			]
		});
	});


</script>
</html>