<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
	<header th:replace="common/header::html"></header>
</head>
<body>
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body ">
					<table id="dataTable" class="layui-table layui-form" lay-filter="dataTable"></table>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

<script type="text/html" id="toolbar">
	<div class="layui-btn-container">
		<button class="layui-btn layui-btn-sm" id="foldToggleBtn" lay-event="foldToggle">折叠/展开</button>
		<button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
		<button class="layui-btn layui-btn-sm" lay-event="refresh" title="刷新">
			<i class="layui-icon layui-icon-refresh"></i>
		</button>
	</div>
</script>

<script type="text/html" id="opRow">
	<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>

<script type="text/javascript">

	// 计算数据表格高度
	var height = $(window).height() - 60;

	var renderTable;
	layui.config({base: "/"}).extend({treetable: "treetable-lay/treetable"}).use(['treetable'], function () {
		var dataTable = layui.table;
		var treetable = layui.treetable;

		renderTable = function(){
			treetable.render({
				// 渲染表格
				treeColIndex: 1, // 树形角标显示在第几列
				treeSpid: 0, // 根id(原始父节点id)
				treeIdName: "id", // id字段
				treePidName: "parentId", // 父id字段
				treeLinkage: true,
				elem: "#dataTable",
				url: "/sys/permission/queryAll",
				height: height,
				toolbar: '#toolbar',
				defaultToolbar: [],
				cols: [
					[
						{type: "numbers", title: '序号', width: 50},
						{field: 'name', title: '名称', width: 200},
						{field: 'uri', title: '访问资源', align: 'center', width: 400},
						{field: 'sort', title: '排序',width: 60, align: 'center'},
						{field: 'permission', title: '资源标识', align: 'center', width: 150},
						{field: 'type', width: 100, title: '类型', align: 'center', templet: function (row) {
								return row.type == 1 ? "菜单" : "按钮";
							}
						},
						{field: 'op', title:'操作', toolbar: '#opRow', width: 150, fixed: 'right', align: 'center'}
					]
				]
			});
		};

		renderTable();

		// 监听头工具栏事件
		var flag = true;
		dataTable.on('toolbar(dataTable)', function(obj){
			switch(obj.event){
				case 'foldToggle':
					if (flag){
						treetable.foldAll("#dataTable");
						flag = false;
					} else {
						treetable.expandAll("#dataTable");
						flag = true;
					}
					break;
				case 'add':
					xadmin.open("权限资源添加", "/sys/permission/edit", 450, 360);
					break;
				case 'refresh':
					location.reload();
					break;
			}
		});

		// 监听行工具事件
		dataTable.on('tool(dataTable)', function(row){
			var data = row.data;
			if (row.event === 'del'){
				del(data.id);
			} else if (row.event === 'edit'){
				xadmin.open("权限资源编辑", "/sys/permission/edit?id=" + data.id, 450, 360);
			}
		});

	});

	// 删除角色（物理删除）
	function del(id){
		layer.confirm("确定删除该记录吗", function (index) {
			layer.close(index);
			if (id == null || id == undefined || id == ""){
				layer.msg("主键为空，无法删除！", {icon:5, time:2000});
			} else {
				$.ajax({
					type: 'post',
					url	: '/sys/permission/del',
					data: { id: id },
					dataType: 'json',
					success: function (res) {
						if (res.flag){
							layer.msg(res.msg, {icon:6, time:2000});
							location.reload();
						} else {
							layer.msg(res.msg, {icon:5, time:3000});
						}
					},
					error: function () {
						layer.msg("Network Error! Please try again later!", {icon: 5, time: 2000});
					}
				});
			}
		});
	}

</script>
</html>