<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
	<header th:replace="common/header::html"></header>
	<script th:src="@{/js/common.js}"></script>
</head>
<body>

<!--<button onclick="reqGet()">AjaxGet</button>
<button onclick="reqPost()">AjaxPost</button>
<button onclick="reqPost2()">AjaxPost2</button>-->

<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body ">
					<form id="searchForm" class="layui-form layui-col-space5">
						<div class="layui-inline layui-show-xs-block">
							<input type="text" id="name" name="name" placeholder="请输入角色" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-inline layui-show-xs-block">
							<button class="layui-btn" lay-submit="" lay-filter="search" title="搜索" permission="sys:role:query">
								<i class="layui-icon">&#xe615;</i>
							</button>
						</div>
					</form>
					<table id="dataTable" class="layui-table layui-form" lay-filter="dataTable"></table>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

<script type="text/javascript">
	/*var sysRole = {
		id: 123,
		name: "根管理员",
		description: "也即超级管理员"
	};
	function reqGet(){
		$.ajax({
			contentType: "application/json;charset=UTF-8",
			url: "/test/requestBody?{\"id\": 123,\"name\": \"根管理员\",\"description\": \"也即超级管理员\"}",
			type: "get",
			dataType: "json",
			success: function (res) {
				console.log(res);
			}
		});
	}

	function reqPost() {
		$.ajax({
			contentType: "application/json;charset=UTF-8",
			url: "/test/requestBody",
			type: "post",
			dataType: "json",
			data: JSON.stringify(sysRole),
			success: function (res) {
				console.log(res);
			}
		});
	}
	function reqPost2() {
		$.ajax({
			// contentType: "application/json;charset=UTF-8",
			// url: "/test/requestBody",
			url: "/test/requestBody2",
			type: "post",
			dataType: "json",
			// data: {id: 12, name: "根管理员", description: "也即超级管理员"},
			data: sysRole,
			success: function (res) {
				console.log(res);
			}
		});
	}*/
</script>

<script type="text/html" id="toolbar">
	<div class="layui-btn-container">
		<button class="layui-btn layui-btn-sm" lay-event="add" permission="sys:role:edit">添加</button>
		<button class="layui-btn layui-btn-sm" lay-event="refresh" title="刷新">
			<i class="layui-icon layui-icon-refresh"></i>
		</button>
	</div>
</script>

<script type="text/html" id="opRow">
	<a class="layui-btn layui-btn-mini" lay-event="edit" permission="sys:role:edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del" permission="sys:role:del">删除</a>
</script>

<script type="text/javascript">
	function getParamObj(){
		return $('#searchForm').serializeObject();
	}

	// 计算数据表格高度
	var height = $(window).height() - $('#searchForm').height() - 75;

	layui.use(['table', 'form'], function () {
		var dataTable = layui.table;
		var searchForm = layui.form;

		dataTable.render({
			elem: '#dataTable',
			height: height,
			url: '/sys/role/list.json',
			page: {
				// curr: 1, // 当前页码，默认值是1
				limit: 2,
				limits: [2, 4, 10, 20, 50]
			},
			toolbar: '#toolbar',
			defaultToolbar: ['filter', 'exports'],
			response: {
				statusCode: 1000
			},
			cols: [
				[
					{field: 'id', title: 'Id', width: 60, sort: true, fixed: 'left'},
					{field: 'name', title: '角色', width: 120, align: 'center'},
					{field: 'description', title: '描述', align: 'center'},
					{field: 'createTimeText', title: '添加时间', align: 'center'},
					{field: 'updateTimeText', title: '更新时间', align: 'center'},
					{field: 'op', title:'操作', toolbar: '#opRow', fixed: 'right', width:150, align: 'center'}
				]
			],
			done: function () {
				checkPermission();
			}
		});

		searchForm.on("submit(search)", function (data) {
			// data是form表单数据
			tableReloadFirst("dataTable", getParamObj());
			return false;
		});

		// 监听头工具栏事件
		dataTable.on('toolbar(dataTable)', function(obj){
			switch(obj.event){
				case 'add':
					xadmin.open('角色添加','/sys/role/edit', 450, 600);
					break;
				case 'refresh':
					location.reload();
					break;
			}
		});

		// 监听行工具事件
		dataTable.on('tool(dataTable)', function(row){
			var data = row.data;
			if (row.event === 'del'){
				del(data.id);
			} else if (row.event === 'edit'){
				xadmin.open("角色编辑", "/sys/role/edit?id=" + data.id, 450, 600);
			}
		});

	});

	// 删除角色（物理删除）
	function del(id){
		layer.confirm("确定删除该角色吗", function (index) {
			layer.close(index);
			if (id == null || id == undefined || id == ""){
				layer.msg("主键为空，无法删除！", {icon:5, time:2000});
			} else {
				$.ajax({
					type: 'post',
					url	: '/sys/role/del',
					data: { id: id },
					dataType: 'json',
					success: function (res) {
						if (res.flag){
							layer.msg(res.msg, {icon:6, time:2000});
							tableReloadFirst("dataTable", getParamObj());
						} else {
							layer.msg(res.msg, {icon:5, time:3000});
						}
					},
					error: function () {
						layer.msg("Network Error! Please try again later!", {icon: 5, time: 2000});
					}
				});
			}
		});
	}

</script>
</html>